/* ==========================================================================
   FOLLOWERS
   ========================================================================== */
.followers--inpage {
  margin-bottom: 3.2rem;
}

.followers-group__label {
  display: inline-block;
  margin: 0 0 0.5em;
  cursor: pointer;
}

.followers-group__field {
  margin-left:5%;
  font-size: inherit;
  display: block;
  //width: 30px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .followers-group--horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #e3e5e9;
  }

  .followers-group--horizontal .followers-group__label,
  .followers-group--horizontal > .field_with_errors {
    flex: 0 1 20%;
    margin-top: 1.25rem;
  }

  .followers-group--horizontal .followers-group__field,
  .followers-group--horizontal > .field_with_errors ~ .field_with_errors {
    flex: 1 0 auto;
    width: auto;

    .followers-group__field {
      width: 100%;
    }
  }
}

.followers-row {
  display: flex;
  flex-direction: row;
}

.followers-row__field {
  flex: 1 0 auto;
  background-color: #fff;
  border: 1px solid #e3e5e9;
  box-shadow: none;
  padding: 1.6rem;
  font-size: inherit;
  display: block;
  box-sizing: border-box;
  margin: 0;
}

.followers-row__field:focus {
  border-color: #72797e;
}
