/* ===================================
 * Media card
 * ===================================*/
 .mcard {
   display: flex;
   flex-wrap: wrap;
   box-shadow: 0 0 20px rgba(0,0,0,0.14);
   margin: 0 $pulse $pulse 0;
   border-radius: 3px;
   display: flex;
   flex-direction: column;
   //justify-content: space-between;
   font-size: 1rem;
 }
 /* Tablets */
 @include tablet {
   .mcard {
     margin-right: -$pulse;
   }

   .mcard {
     float: left;
     width: calc(50% - #{$pulse});
   }
 }
 /* Desktop */
 @include desktop {
   .mcard {
   }
 }
