/*================================
 * PROFILES
 * ===============================*/
.image--cover {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  //margin-top: 1.5rem;
}

.image--unscaled {
  border-radius: 50%;
  margin-top: 1.5rem;
}
